[submodule "data-admin"]
	path = data-admin
	url = git@github.com:varilink/data_admin.git
[submodule "data-app"]
	path = data-app
	url = git@github.com:varilink/data_app.git
[submodule "data-web"]
	path = web/data-web
	url = git@github.com:varilink/data_web.git
[submodule "data-int"]
	path = data-int
	url = git@git:data_int.git
[submodule "tools/npm"]
	path = tools/npm
	url = git@github.com:varilink/tools_npm.git
[submodule "tools/gimp"]
	path = tools/gimp
	url = git@github.com:varilink/tools_gimp.git
